<launch>
  <arg name="laser" default="sick-561"/>
  <arg name="base_type" default="pmb2"/>

  <group unless="$(eval arg('base_type') == 'omni_base')">
    <include file="$(find tiago_laser_sensors)/launch/$(arg laser)_laser.launch"/>
  </group>

  <group if="$(eval arg('base_type') == 'omni_base')">
    <!-- Rear Laser Scan -->
    <include file="$(find tiago_laser_sensors)/launch/$(arg laser)_laser.launch">
      <arg name="side" value="rear_"/>
      <arg name="device_number" value="0"/>
      <arg name="base_type" value="$(arg base_type)"/>
    </include>

    <!-- Front Laser Scan -->
    <include file="$(find tiago_laser_sensors)/launch/$(arg laser)_laser.launch">
      <arg name="side" value="front_"/>
      <arg name="device_number" value="1"/>
      <arg name="base_type" value="$(arg base_type)"/>
    </include>

    <!-- Laser Scan Merger -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
      <param name="destination_frame" value="virtual_base_laser_link"/>
      <param name="cloud_destination_topic" value="/merged_cloud"/>
      <param name="scan_destination_topic" value="/scan_raw"/>
      <param name="laserscan_topics" value ="/scan_front_raw /scan_rear_raw" /> 
      <param name="time_increment" value ="0.0" /> 
      <param name="scan_time" value ="0.0" /> 
      <param name="range_min" value ="0.05" /> 
      <param name="range_max" value ="25.0" /> 
      <param name="angle_min" value ="-3.1459" /> 
      <param name="angle_max" value ="3.1459" /> 
      <param name="angle_increment" value ="0.005769" /> 
    </node>
  </group>

  <node name="laser_filter" pkg="laser_filters" type="scan_to_scan_filter_chain">
    <rosparam file="$(find tiago_laser_sensors)/config/$(arg laser)_filter.yaml" command="load"/>
    <remap from="scan"          to="scan_raw"/>
    <remap from="scan_filtered" to="scan"/>
  </node>

</launch>
