<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen" clear_params="true">
  	<rosparam file="$(find tiago_laser_sensors)/config/hokuyo_urg_04lx_ug01_laser.yaml" command="load"/>
    <remap from="scan" to="scan_raw"/>
    <!-- <param name="serial_baud" value="115200"/> -->
    <!-- <param name="publish_multiecho" value="false"/> -->
  </node>
</launch>
