<launch>
  <arg name="side"               default=""/>
  <arg name="device_number"      default="0"/>
  <arg name="base_type"          default="pmb2"/>
  <arg name="device"        	 value="hokuyo_laser" if="$(eval arg('side') == '')"/>
  <arg name="device"        	 value="ttyACM1" if="$(eval arg('side') == 'front_')"/>
  <arg name="device"        	 value="ttyACM2" if="$(eval arg('side') == 'rear_')"/>
  <arg name="base_type_suffix"   value="" unless="$(eval arg('base_type') == 'omni_base')"/>
  <arg name="base_type_suffix"   value="_omni" if="$(eval arg('base_type') == 'omni_base')"/>

  <node name="$(arg side)hokuyo" pkg="hokuyo_node" type="hokuyo_node" clear_params="true">
    <param name="frame_id" value="base_$(arg side)laser_link"/>
    <param name="port"     value="/dev/$(arg device)"/>
    <rosparam file="$(find tiago_laser_sensors)/config/hokuyo_urg_04lx_ug01_laser$(arg base_type_suffix).yaml" command="load"/>
    <remap from="scan" to="scan_$(arg side)raw"/>
  </node>
</launch>
