<launch>

  <!--- Run AMCL localiztion --> 

  <!-- load the configuration file -->
  <rosparam file="$(find pal_navigation_sm)/config/pal_navigation_sm.yaml"
      command="load" ns="amcl" />

  <include file="$(find reem_2dnav)/launch/amcl_diff.launch">
    <arg name="topic" value="/scan_filtered" />
  </include> 

</launch>

