<launch>
  <arg name="odom_topic" />
  <arg name="cmd_topic" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" launch-prefix="valgrind --tool=callgrind --callgrind-out-file=$(find reem_2dnav)/launch/callgrind.out.move_base.%p --dump-instr=yes --trace-jump=yes">
     <remap from="odom" to="$(arg odom_topic)" />
     <remap from="cmd_vel" to="$(arg cmd_topic)" />    
     <rosparam file="$(find reem_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
     <rosparam file="$(find reem_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
     <rosparam file="$(find reem_2dnav)/config/local_costmap_params.yaml" command="load" />
     <rosparam file="$(find reem_2dnav)/config/global_costmap_params.yaml" command="load" />
     <rosparam file="$(find reem_2dnav)/config/acceleration_limits.yaml" command="load" ns="PalLocalPlanner"/>
     <rosparam file="$(find reem_2dnav)/config/pal_local_planner_params.yaml" command="load" />
     <rosparam file="$(find reem_2dnav)/config/footprint.yaml" command="load" />
     <rosparam file="$(find reem_2dnav)/config/move_base_params.yaml" command="load" />
     <rosparam file="$(find reem_2dnav)/config/recovery_behaviors.yaml" command="load" />
  </node>
</launch>
