<launch>

  <!-- Run laser filters -->
   <include file="$(find reem_laser_sensors)/launch/laser.launch">
  </include>

  <!-- Run map server -->
   <include file="$(find reem_maps)/launch/map.launch">
  </include>

  <!--- Run AMCL localiztion --> 
  <include file="$(find reem_2dnav)/launch/amcl_diff.launch">
    <arg name="topic" value="/scan_filtered" />
  </include> 


  <!-- Run the move_base --> 
  <include file="$(find reem_2dnav)/launch/planning_and_control.launch"> 
    <arg name="odom_topic" value="/base_odometry/odom" />
    <arg name="cmd_topic" value="/cmd_vel" />
  </include>
</launch>

