<launch>

  <arg name="planner"       default="base"/>
  <arg name="local_planner" default="pal"/>  <!-- pal, dwa, trajectory -->
  <arg name="localization"  default="amcl"/>

  <arg name="map" default="$(find reem_maps)/configurations/simple_office"/>

  <!-- Map -->
  <include file="$(find reem_maps)/launch/map.launch">
    <arg name="map" value="$(arg map)"/>
  </include>

  <!-- Localization -->
  <include file="$(find reem_2dnav)/launch/localization_$(arg localization).launch"/>

  <!-- Planning -->
  <include file="$(find reem_2dnav)/launch/move_$(arg planner).launch">
    <arg name="local_planner" value="$(arg local_planner)"/>
  </include>

</launch>
