<launch>

  <arg name="state" default="localization"/>

  <arg name="planner"       default="base"/>
  <arg name="local_planner" default="pal"/>
  <arg name="localization"  default="amcl"/>
  <arg name="mapping"       default="karto"/>

  <arg name="map" default="$(find reem_maps)/configurations/simple_office"/>

  <!-- Localization or Mapping state -->
  <include file="$(find reem_2dnav)/launch/$(arg state).launch">
    <arg name="localization" value="$(arg localization)"/>
    <arg name="mapping"      value="$(arg mapping)"/>

    <arg name="map" value="$(arg map)"/>
  </include>

  <!-- Navigation State Machine -->
  <include file="$(find reem_2dnav)/launch/state_machine.launch"/>

  <!-- Planning -->
  <include file="$(find reem_2dnav)/launch/move_$(arg planner).launch">
    <arg name="local_planner" value="$(arg local_planner)"/>
  </include>

  <!-- VO map server -->
  <include file="$(find pal_vo_server)/launch/vo_server.launch"/>

</launch>
