<launch>
  <arg name="amcl_with_mapping" default="false" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="scan_filtered" />
    <rosparam file="$(find ant_2dnav)/config/localization/amcl.yaml" command="load"/>
    <param name="use_map_topic" value="$(arg amcl_with_mapping)"/>
  </node>
</launch>
