<launch>

  <arg name="global_planner" default="navfn"/>
  <arg name="local_planner"  default="pal"/>

  <arg name="odom"    default="mobile_base_controller/odom"/>
  <arg name="cmd_vel" default="nav_vel"/>

  <arg name="debug_rgbd" default="false"/>

  <node pkg="move_base" type="move_base" name="move_base" clear_params="true" output="screen">
    <remap from="odom"    to="$(arg odom)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>

    <rosparam command="load" file="$(find ant_2dnav)/config/base/common/move_base.yaml"/>
    <rosparam command="load" file="$(find ant_2dnav)/config/base/common/recovery_behaviors.yaml"/>

    <rosparam command="load" file="$(find ant_2dnav)/config/base/common/global_costmap.yaml"/>
    <rosparam command="load" file="$(find ant_2dnav)/config/base/common/local_costmap.yaml"/>

    <rosparam command="load" file="$(find ant_2dnav)/config/base/global_planner/$(arg global_planner).yaml"/>

    <rosparam command="load" file="$(find ant_2dnav)/config/base/$(arg local_planner)/move_base.yaml"/>
    <rosparam command="load" file="$(find ant_2dnav)/config/base/$(arg local_planner)/local_planner.yaml"/>
  </node>

  <include file="$(find pal_pcl)/launch/stockbot_floor_filter_xtion.launch"/>
  <include file="$(find ant_laser_sensors)/launch/rgbd_cloud_laser.launch">
    <arg name="cloud" default="floor_filter_xtion/filtered_cloud"/>
  </include>

  <group if="$(arg debug_rgbd)">
    <node pkg="costmap_2d" type="costmap_2d_markers" name="costmap_2d_markers_global">
      <remap from="voxel_grid" to="move_base/global_costmap/obstacle_rgbd_layer/voxel_grid"/>
      <remap from="visualization_marker" to="voxel_grid_global_marker"/>
    </node>

    <node pkg="costmap_2d" type="costmap_2d_markers" name="costmap_2d_markers_local">
      <remap from="voxel_grid" to="move_base/local_costmap/obstacle_rgbd_layer/voxel_grid"/>
      <remap from="visualization_marker" to="voxel_grid_local_marker"/>
    </node>
  </group>

</launch>
