<launch>

  <arg name="state" default="localization"/>

  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="navfn"/>
  <arg name="local_planner"  default="pal"/>
  <arg name="localization"   default="amcl"/>
  <arg name="mapping"        default="karto"/>

  <arg name="map" default="$(env HOME)/.pal/ant_maps/config"/>

  <!-- Localization or Mapping state -->
  <node pkg="pal_navigation_sm" type="navigation.sh" name="navigation"
        args="ant $(arg state) $(arg localization) $(arg mapping) $(arg map)"/>

  <!-- Navigation State Machine -->
  <include file="$(find ant_2dnav)/launch/state_machine.launch"/>

  <!-- Planning -->
  <include file="$(find ant_2dnav)/launch/move_$(arg planner).launch">
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="local_planner"  value="$(arg local_planner)"/>
  </include>

  <!-- VO map server -->
  <include file="$(find pal_vo_server)/launch/vo_server.launch"/>

</launch>
