<launch>
  <arg name="image" default="base_rgbd_camera/depth/image_raw"/>
  <arg name="scan"  default="rgbd_scan"/>

  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
    <remap from="image" to="$(arg image)"/>
    <remap from="scan"  to="$(arg scan)"/>

    <rosparam file="$(find ant_laser_sensors)/config/rgbd_depth_laser.yaml" command="load"/>
  </node>
</launch>
