<launch>
  <arg name="sick_ip" />	
  <!-- SICK LMS100 node -->
  <node pkg="LMS1xx" type="LMS100" name="LMS100_00" respawn="true" output="log" >
    <param name="frame_id" value="/base_laser_link"/>
    <param name="host" value="$(arg sick_ip)"/>
    <param name="topic" value="scan_filtered"/>
    <param name="range_max" value="20.0"/>
    <param name="start_angle" value="-1.405"/>
    <param name="end_angle" value="1.405"/>
    <param name="frequency" value="12.0"/>
  </node>
</launch>
