<launch>
<arg name="laser_ip" />
<!-- base laser-->
 <include file="$(find reem_laser_sensors)/launch/base_laser.launch">
  <arg name="sick_ip" value="$(arg laser_ip)"/>
 </include>

<!-- base laser filter-->
 <include file="$(find reem_laser_sensors)/launch/base_laser_filter.launch">
 </include>

<!-- torso laser-->
 <include file="$(find reem_laser_sensors)/launch/upper_laser.launch">
 </include>

<!-- torso laser filter-->
 <include file="$(find reem_laser_sensors)/launch/upper_laser_filter.launch">
 </include>

</launch>
