<launch>
  <!-- Filter for self-collision with inclined laser -->
  <!-- @todo robot_self_filter is NOT available in hydro -->
  <!--node pkg="robot_self_filter" type="self_filter" respawn="true" name="inclined_self_filter" output="screen">
     <remap from="cloud_in" to="/hokuyo_cloud_no_self_filter" />
     <remap from="cloud_out" to="/hokuyo_cloud" />
     <param name="subsample_value" type="double" value=".02"/>
     <rosparam command="load" file="$(find reem_laser_sensors)/config/self_filter.yaml" />
  </node-->
</launch>
