<launch>

  <arg name="localization"  default="amcl"/>

  <arg name="map"     default="$(env HOME)/.pal/tiago_maps/config"/>
  <arg name="symlink" default="$(env HOME)/.pal/tiago_maps/config"/>

  <arg name="mapping" default=""/>

  <!-- Map -->
  <include file="$(find pal_navigation_sm)/launch/map.launch">
    <arg name="map"     value="$(arg map)"/>
    <arg name="symlink" value="$(arg symlink)"/>
  </include>

  <!-- Localization -->
  <include file="$(find tiago_2dnav)/launch/localization_$(arg localization).launch"/>

</launch>
