<launch>
  <arg name="scan" default="scan"/>

  <arg name="amcl_with_mapping" default="false"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="$(arg scan)"/>

    <!-- Load the last saved pose estimate (initial pose) -->
    <rosparam file="$(env HOME)/.pal/pose.yaml" command="load"/>

    <rosparam file="$(find tiago_2dnav)/config/localization/amcl.yaml" command="load"/>
    <param name="use_map_topic" value="$(arg amcl_with_mapping)"/>
  </node>
</launch>
