<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="localization" default="amcl"/>
  <arg name="multiple" default="false"/>
  <arg name="robot_namespace" default=""/>
  <arg name="base_type"     default="pmb2"/>

  <include file="$(find pal_navigation_cfg_tiago)/launch/localization_$(arg localization).launch">
    <arg name="multiple" value="$(arg multiple)"/>
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="base_type" value="$(arg base_type)"/>
  </include>

</launch>
