<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="scan" default="scan_raw"/>
  <arg name="laser_model" default="sick-571"/>
  <arg name="mapping" default="karto"/>

  <!-- SLAM -->
  <include file="$(find pal_navigation_cfg_tiago)/launch/mapping_$(arg mapping).launch">
    <arg name="scan" value="$(arg scan)"/>
    <arg name="laser_model" value="$(arg laser_model)"/>
  </include>

</launch>
