<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="config_base_path" default="$(find pal_navigation_cfg_tiago)"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="pal"/>
  <arg name="public_sim"     default="false"/>
  <arg name="rgbd_sensors"   default="false"/> 
  <arg name="robot_namespace"      default=""/>
  <arg name="multiple"       default="false"/>
  <arg name="base_type"     default="pmb2"/>

  <!-- Navigation -->
  <include file="$(find pal_navigation_cfg_tiago)/launch/move_base.launch">
    <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
    <arg name="config_base_path" value="$(arg config_base_path)"/>
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="local_planner"  value="$(arg local_planner)"/>
    <arg name="public_sim"     value="$(arg public_sim)"/>
    <arg name="robot_namespace"      value="$(arg robot_namespace)"/>
    <arg name="multiple"       value="$(arg multiple)"/>
    <arg name="base_type"       value="$(arg base_type)"/>
  </include>

</launch>
